body {
  font-family: Ubuntu;
}

a {
	text-decoration: none;
}

.swahili, .english {
	color: #000;
}

.swahili {
	font-weight: bold;
	font-size: 2em;
}

#homepage .swahili {
	line-height: 0;
	margin-top: .8em;
}

#homepage .english {
	line-height: 0;
}

.ui-block-a, .ui-block-b {
	background-color: #fff;
	padding: 20px 30px;
	margin: 0 0 15px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
}

.ui-block-a {
	margin-left: -15px;
}

.ui-block-b {
	margin-left: 15px;
}
