body {
  font-family: Ubuntu;
}

a {
	text-decoration: none;
}

.ui-link img {
	height: 50px;
}

.swahili, .english {
	color: #000;
}

.swahili {
	font-weight: bold;
}

.english {
	font-weight: normal;
}

#homepage .swahili {
	margin-top: 0;
}

#homepage .english {
	margin-top: -15px;
	margin-bottom: 7px;
}

.ui-link {
	display: block;
	background-color: #fff;
	padding: 5px 0 0;
	margin: 0 0 15px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
}

.ui-block-a {
	margin-left: -15px;
}

.ui-block-b {
	margin-left: 15px;
}
